@using System.Web.UI.WebControls
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="icon" href="@Url.Content("~/Content/favicon.ico")" />
    <title>@ViewBag.Title - ASC Coil Tracker</title>

    <!-- Non render-blocking resources -->
    @Styles.RenderFormat("<link rel='stylesheet' asp-append-version='true' href='{0}' />",
        "~/Content/css")
    @Scripts.RenderFormat("<script type='text/javascript' asp-append-version='true' src='{0}'></script>",
        "~/bundles/modernizr")

    <!-- Font awesome -->
    <script src="https://kit.fontawesome.com/d1b8b99eb8.js" crossorigin="anonymous"></script>
</head>
<body>
    @if (Session["Email"] != null)
    {
        <div class="navbar navbar-expand-md navbar-dark">
            @Html.ActionLink("ASC Coil Tracker", "Index", "Coil",
                new { area = "" }, new { @class = "navbar-brand" })
            <button class="navbar-toggler" type="button" data-toggle="collapse"
                    data-target="#navbarToggler" aria-controls="navbarToggler"
                    aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
            </button>

            <div id="navbarToggler" class="collapse navbar-collapse">
                <div class="navbar-nav w-100">
                    @Html.ActionLink("Coils", "Index", "Coil", null, new { @class = "nav-item nav-link text-light" })
                    @Html.ActionLink("Search History", "Index", "HistoryEvent", null, new { @class = "nav-item nav-link text-light" })
                    @Html.ActionLink("Coil Calculator", "Calculator", "Coil", null, new { @class = "nav-item nav-link text-light" })
                    <div class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle text-light" href="#" id="navbarDropdownMenuLink" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                            Help
                        </a>
                        <div class="dropdown-menu" aria-labelledby="navbarDropdownMenuLink">
                            @Html.ActionLink("User Guide", "Guide", "Home", null, new { @class = "dropdown-item" })
                            @Html.ActionLink("About", "Contact", "Home", null, new { @class = "dropdown-item" })
                        </div>
                    </div>
                    <div class="ml-md-auto mr-3">
                        <div class="row">
                            <div class="nav-item dropdown">
                                <a class="nav-link dropdown-toggle text-light mx-3" href="#" id="navbarAccountDropdown"
                                   data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                    @Session["Email"]
                                </a>
                                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarAccountDropdown">
                                    @if (Session["Email"].Equals("coiladmin@ascmt.com"))
                                    {
                                        @Html.ActionLink("Add New User", "AddUser", "Home", null, new { @class = "dropdown-item" })
                                    }
                                    @Html.ActionLink("Change Password", "ChangePassword", "Home", null, new { @class = "dropdown-item" })
                                    @Html.ActionLink("Log Out", "Logout", "Home", null, new { @class = "dropdown-item" })
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    }

    <div class="container-fluid body-content px-5 py-3">
        @RenderBody()
        <hr />
        <footer>
            <p>&copy; @DateTime.Now.Year</p>
        </footer>
    </div>

    @Scripts.RenderFormat("<script type='text/javascript' asp-append-version='true' src='{0}'></script>",
        "~/bundles/jquery")
    @Scripts.RenderFormat("<script type='text/javascript' asp-append-version='true' src='{0}'></script>",
        "~/bundles/popper")
    @Scripts.RenderFormat("<script type='text/javascript' asp-append-version='true' src='{0}'></script>",
        "~/bundles/bootstrap")
    @RenderSection("scripts", required: false)
</body>
</html>