@model ASC_Coil_Tracker_Production.Models.COILTABLE

@{
    ViewBag.Title = "Edit";
}

<h2>Edit Coil</h2>
<h3 class="float-sm-right">Coil Calculator</h3>
<h5>Required fields: Color/Finish, Material, Gauge</h5>

<hr />
<div class="row">
    <div class="col-sm-5">
        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-horizontal">
                @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                @Html.HiddenFor(model => model.ID)

                <div class="form-group row">
                    @Html.LabelFor(model => model.ID, new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.ID, new { htmlAttributes = new { @class = "form-control", @readonly = "readonly" } })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.COLOR, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.COLOR, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.COLOR, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.TYPE, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.TYPE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.TYPE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.GAUGE, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.GAUGE, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.GAUGE, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.WIDTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WIDTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WIDTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.THICK, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.THICK, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.THICK, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.YIELD, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.YIELD, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.YIELD, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.LENGTH, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.LENGTH, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.LENGTH, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.WEIGHT, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.WEIGHT, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.WEIGHT, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.CUSTOMER, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.EditorFor(model => model.CUSTOMER, new { htmlAttributes = new { @class = "form-control" } })
                        @Html.ValidationMessageFor(model => model.CUSTOMER, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    @Html.LabelFor(model => model.NOTES, htmlAttributes: new { @class = "control-label col-md-2" })
                    <div class="col-md-10">
                        @Html.TextAreaFor(model => model.NOTES, new { @class = "form-control" })
                        @Html.ValidationMessageFor(model => model.NOTES, "", new { @class = "text-danger" })
                    </div>
                </div>

                <div class="form-group row">
                    <div class="col-md-offset-2 col-md-10">
                        <button type="submit" class="btn btn-primary">
                            <i class="fas fa-save"></i>
                            Save
                        </button>
                    </div>
                </div>
            </div>
        }
    </div>
    <div class="col-sm-2 align-self-center text-center">
        <h4>Copy Fields</h4>
        <div class="btn-group-vertical">
            <!-- onclick="this.blur()" removes outline from clicking button.
            The display classes change which icon is shown on breakpoints,
            so on smaller screens the swap buttons show as up/down and
            on bigger ones left/right, to match the orientation of the columns.
            -->
            <button id="swapLeftBtn" type="button" class="btn btn-outline-secondary" onclick="this.blur()">
                <i class="fas fa-arrow-left d-none d-sm-block"></i>
                <i class="fas fa-arrow-up d-sm-none"></i>
            </button>
            <button id="swapRightBtn" type="button" class="btn btn-outline-secondary" onclick="this.blur()">
                <i class="fas fa-arrow-right d-none d-sm-block"></i>
                <i class="fas fa-arrow-down d-sm-none"></i>
            </button>
        </div>
    </div>
    <div class="col-sm-5">
        <div class="form-horizontal">
            <div class="form-group row">
                <div class="col-md-6">
                    <label for="densitySelect" class="float-sm-right">Density</label>
                </div>
                <div class="col-md-6">
                    @Html.DropDownList("SearchFilter", new List<SelectListItem>
                       {
                           new SelectListItem { Text = "Steel", Value = "STEEL", Selected=true },
                           new SelectListItem { Text = "Aluminum", Value = "ALUM" },
                           new SelectListItem { Text = "Copper", Value = "COPPER" }
                       },
                       new { @id = "densitySelect", @class = "custom-select float-sm-right qty" })
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="idInput" class="float-sm-right">ID (in)</label>
                </div>
                <div class="col-md-6">
                    <input id="idInput" type="number" class="form-control float-sm-right qty" step="0.001" min="0.001">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="odInput" class="float-sm-right">OD (in)</label>
                </div>
                <div class="col-md-6">
                    <input id="odInput" type="number" class="form-control float-sm-right qty" step="0.001" min="0.001">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="widthInput" class="float-sm-right">Width (in)</label>
                </div>
                <div class="col-md-6">
                    <input id="widthInput" type="number" class="form-control float-sm-right qty" step="0.001" min="0.001">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="thicknessInput" class="float-sm-right">Thickness (in)</label>
                </div>
                <div class="col-md-6">
                    <input id="thicknessInput" type="number" class="form-control float-sm-right qty" step="0.001" min="0.001">
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="piwInput" class="float-sm-right">PIW (lbs)</label>
                </div>
                <div class="col-md-6">
                    <input id="piwInput" type="number" class="form-control float-sm-right" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="lengthInput" class="float-sm-right">Length (ft)</label>
                </div>
                <div class="col-md-6">
                    <input id="lengthInput" type="number" class="form-control float-sm-right" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="areaInput" class="float-sm-right">Area (sq ft)</label>
                </div>
                <div class="col-md-6">
                    <input id="areaInput" type="number" class="form-control float-sm-right" readonly>
                </div>
            </div>

            <div class="form-group row">
                <div class="col-md-6">
                    <label for="weightInput" class="float-sm-right">Weight (lbs)</label>
                </div>
                <div class="col-md-6">
                    <input id="weightInput" type="number" class="form-control float-sm-right" readonly>
                </div>
            </div>
        </div>
    </div>
</div>

<a href="@Url.Action("Index")" class="btn btn-outline-secondary">
    Back to List
</a>

@section Scripts {
    @Scripts.RenderFormat("<script type='text/javascript' asp-append-version='true' src='{0}'></script>",
        "~/bundles/jqueryval")
    @Scripts.RenderFormat("<script type='text/javascript' asp-append-version='true' src='{0}'></script>",
        "~/Scripts/helpers/CoilCalculator.js")
    @Scripts.RenderFormat("<script type='text/javascript' asp-append-version='true' src='{0}'></script>",
        "~/Scripts/helpers/CopyFields.js")
    @Scripts.RenderFormat("<script type='text/javascript' asp-append-version='true' src='{0}'></script>",
        "~/Scripts/helpers/DisableEnterSubmit.js")
}