@using System.Web.UI.WebControls
@model ASC_Coil_Tracker_Production.Models.USERS

@{
    ViewBag.Title = "Change Password";
}

@if (Session["Email"] == null)
{
    <span>You must be logged in to view this page!</span>
    @Html.ActionLink("Back to Login", "Login", "Home")
}
else
{
    <h1>@ViewBag.Title</h1>
    using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()
        @Html.ValidationSummary(true, "",
            new { @class = "text-danger" })

        <div class="form-group">
            <label for="PasswordHash">Old password</label>
            <input id="OldPassword" class="form-control" type="password"
                   placeholder="***********" name="OldPassword" />
        </div>

        <div class="form-group">
            <label for="NewPassword">New password</label>
            <input id="NewPassword " class="form-control" type="password"
                   placeholder="***********" name="NewPassword" />
        </div>

        <div class="form-group">
            @Html.ValidationMessage("ChangeError", "", new { @class = "text-danger" })
        </div>

        <div class="form-group">
            <input class="btn btn-primary" type="submit" value="Submit">
        </div>
    }
}